body {
  font-family: sans-serif;
  margin: 0 0 0 20px;
  background-image: url(../images/bacgroundOfDashboard.jpg);
  background-size: cover;
}

.main_body {
  display: flex;

  gap: 120px;
  flex-wrap: wrap;
  align-items: center;
}

.container {
  display: flex;
  gap: 120px;
  flex-wrap: wrap;
}

#posts {
  width: 400px;
}

#posts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 25px;
}

i {
  cursor: pointer;
}

#msg {
  color: red;
}

textarea {
  width: 50vw;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

button {
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-weight: bolder;
}

@media (min-width: 1024px) {
  textarea {
    width: 30vw;
  }
}

.details {
  width: 400px;
  height: 40px;
  background-color: aqua;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
}
