* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5372f0;
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  width: 380px;
  padding: 40px 30px 50px 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  margin-top: 10vh;
}

.col {
  text-align: center;
}

.form-control {
  display: block;
  margin-left: 5vh;
  width: 300px;
  height: 5vh;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  border-bottom-width: 2px;
  caret-color: #5372f0;
  transition: all 0.2s ease;
  font-size: 18px;
  background: none;
  text-align: center;
}

.popup {
  width: 50vh;
  background: #bcbaba;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup > img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
}

.popup > h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup > button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
}

.popup > button > a {
  text-decoration: none;
  color: #fff;
}
